@media (max-width: 768px) {


  }

  @media (max-width: 1123px) {
    .filter-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      /* border: 8px solid green; */
      /* justify-content: space-around; */
      /* background-size: 500px; */
      /* flex-direction: row; */
      /* height: 125px; */
      height: 150px;
      padding: 25px;
      }
  }   
  
